.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
}

.titulo {
    text-align: start;
    color: red;
}

.titulo-funcional h1{
    color: red; 
  font-size: 4rem;
  margin-top: 2rem;
}

.img img{
    width: 25vw;
    height: 15vw;
}

.img p{
    width: 25vw;
}

.img p span{
    font-family: 'UbuntuBold', sans-serif;
}

.container-footer{
    grid-column: 1 / span 3;
    grid-row: -1;
    height: 7rem;
    background-color: #000;
}

.msj-disci {
  width: 310%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.msj-disci img {
    width: 15rem;
}




